// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homes{
  margin: 40px;
}


header{
  font-size: 20px;
}

main{
  margin:  10px 40px;
  line-height: 50px;
}

footer{
  margin: 30px 40px;
}